################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExampleTests/MSTest/HeadlampSeleniumTest/.vs/HeadlampSeleniumTest
/ExampleTests/MSTest/HeadlampSeleniumTest/bin/Debug/net6.0
/ExampleTests/MSTest/HeadlampSeleniumTest/obj
/.vs/HeadlampTestGitHub/v17/.suo
/.vs
